#div-container {
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 600px;
    min-height: 650px;
    width: 100%;
    border: 2px solid var(--bs-body-color);
    border-radius: 10px;
    padding: 30px;
    display: inline-block;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh; 
    margin: 0; 
}

.btn-container {
    margin-top: 20px;
}

.btn-container>.btn {
    margin-right: 20px;
}

.sbmt-div {
    display: flex;
    justify-content: center;
}