{% extends 'account/base.html' %}
{% load static %}


{% block title %}
    WhatBytes
{% endblock title %}



{% block body %}
<div id="index-container" class="container">
    <h1>Hello there,</h1>
    <h2>Welcome to WhatBytes</h2>
    <h3>Let's get started</h3>
    
    <div class="btn-container">
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
        <a href="{% url 'register' %}" class="btn btn-primary btn-lg">Register</a>
    </div>
</div>
{% endblock body %}
    
    